HETZNER_TOKEN=your-hetzner-token
NTFY_URL=https://ntfy.example.com
NTFY_TOPIC=HetznerDynDNSIssue
# Optional API key for /update requests
API_KEY=
#NTFY_USERNAME=user
#NTFY_PASSWORD=pass
DEBUG_LOGGING=0
#LOG_FILE=app.log
#LOG_MAX_BYTES=1048576
#LOG_BACKUP_COUNT=3
