HETZNER_TOKEN=your-hetzner-token
NTFY_URL=https://ntfy.example.com
NTFY_TOPIC=HetznerDynDNSIssue
#NTFY_USERNAME=user
#NTFY_PASSWORD=pass
DEBUG_LOGGING=0
#LOG_FILE=
#LOG_MAX_BYTES=1048576
#LOG_BACKUP_COUNT=3
# comma-separated list of allowed hostnames
# matching tokens are stored in ./pre-shared-key and generated on startup
REGISTERED_FQDNS=host.example.com
#BASIC_AUTH_USERNAME=
#BASIC_AUTH_PASSWORD=
#ALLOWED_ZONES=
#RECORD_TTL=21600
#ZONE_CACHE_TTL=86400
#REQUEST_CACHE_TTL=300
