HETZNER_TOKEN=your-hetzner-token
NTFY_URL=https://ntfy.example.com
NTFY_TOPIC=HetznerDynDNSIssue
#NTFY_USERNAME=user
#NTFY_PASSWORD=pass
DEBUG_LOGGING=0
#LOG_FILE=
#LOG_MAX_BYTES=1048576
#LOG_BACKUP_COUNT=3
#LISTEN_PORT=80
# comma-separated list of hostnames to manage, keys generated on startup
REGISTERED_FQDNS=host.example.com
#BASIC_AUTH_USERNAME=
#BASIC_AUTH_PASSWORD=
#RECORD_TTL=21600
#ZONE_CACHE_TTL=86400
#REQUEST_CACHE_TTL=300
#LOST_CONNECTION_TIMEOUT=10800
#CONNECTION_CHECK_INTERVAL=60
